<%- include('partials/header') %>
<h2><%= product.title %></h2>
<img src="<%= product.images[0]?.src %>" width="300"/>
<p><%- product.body_html %></p>
<p>Price: <%= currencySymbol %><%= convertedPrice %></p>
<form action="/cart/add" method="POST">
  <input type="hidden" name="product[id]" value="<%= product.id %>" />
  <input type="hidden" name="product[name]" value="<%= product.title %>" />
  <input type="hidden" name="product[price]" value="<%= product.variants[0]?.price %>" />
  <input type="hidden" name="product[icon]" value="<%= product.images[0]?.src %>" />
  <button type="submit">Add to Cart</button>
</form>  

<script>
  const currentproduct = {
    id: "<%= product.id %>",
    title: "<%= product.title %>",
    price: "<%= convertedPrice %>",
    symbol: "<%= currencySymbol %>",
    image: "<%= product.images[0]?.src %>",
    url: "/shopify/product/<%= product.id %>"
  }

  const MAX_RECENT = 4;
  let recentlyViewed = JSON.parse(localStorage.getItem("recentlyViewed")) || [];

  recentlyViewed = recentlyViewed.filter(p => p.id !== currentproduct.id);

  recentlyViewed.unshift(currentproduct);

  if (recentlyViewed.length > MAX_RECENT) {
    recentlyViewed = recentlyViewed.slice(0, MAX_RECENT);
  }

  localStorage.setItem("recentlyViewed", JSON.stringify(recentlyViewed));

</script>

<%- include('partials/footer') %>